:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--tg-theme-link-color);
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  text-align: center;
  padding: 20px;
  margin: 0;
  min-height: 100vh;
}

/* Базовый стиль кнопки без эффектов наведения */
.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  font-size: 18px;
  background-color: var(--tg-theme-secondary-bg-color, #f0f0f0);
  color: var(--tg-theme-text-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 500px;
}

/* Только для устройств с мышью (десктопы) */
@media (hover: hover) {
  .button:hover {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color, white);
  }
}

/* Только для тачскрин-устройств */
@media (hover: none) {
  .button:active {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color, white);
  }
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color, white);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.button img {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.info h2 {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  justify-content: center;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--tg-theme-button-color);
  border-radius: 30px;
  color: var(--tg-theme-button-text-color);
}

.info h2 img {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

#user-info {
  text-align: center;
}

#user-name {
  text-align: center;
  margin: 10px 0;
  font-size: 16px;
}

#subscription-status {
  text-align: center;
  white-space: pre-line;
  margin: 10px auto;
  display: block;
  font-size: 16px;
  max-width: 80%;
}

